.d{
    display: flex;
   flex-direction: row;
   align-items: stretch;
   justify-content:space-between;
   
}
.op{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-end;
    padding-top: 400px;
}